version: '3'
services:

  oauthsql:
    container_name: oauthsql
    image: postgres:10.4
    environment:
    - POSTGRES_DB=oic
    - POSTGRES_USER=root
    - POSTGRES_PASSWORD=password
    ports:
    - 3306:3306
    networks:
    - oauth_net

  oauthserver:
    container_name: ccri_oauth_server
    image: thorlogic/ccri-oauthserver:${CRRI_OAUTH_VERSION}
    environment:
    - oidc.issuer=
    - ldap.url=
    - ldap.server=
    - oidc.datasource.mysql.schema=oic
    - oidc.datasource.mysql.url=jdbc:postgresql://oauthsql:5432/oic
    - JAVA_OPTIONS=-Dspring.profiles.active=local,users-keycloak,docker-purple
    ports:
    - 20080:8080
    depends_on:
    - oauthsql
    networks:
    - oauth_net

networks:
  oauth_net:
    driver: bridge
    ipam:
      driver: default